<!-- Static assets -->
{% load static %}

      <!-- Navbar -->
      <style>
            .navbar-brand-img{
              max-width: 240px;
            }
            .navbar-brand-img-mobile{
              max-width: 175px;
              display: none;
            }
            .navbar-brand-img-mobile-short{
                display: none;
                width: 140px;
            }
            @media only screen and (max-width: 430px){
              .navbar-brand-img{
                display: none;
              }
              .navbar-brand-img-mobile{
                display: block;
              }
              .navbar-brand-img-mobile-short{
                display: none;
              }
            }
            @media only screen and (max-width: 370px){
              .navbar-brand-img{
                display: none;
              }
              .navbar-brand-img-mobile{
                display: none;
              }
              .navbar-brand-img-mobile-short{
                display: block;
              }
            }
            @media only screen and (max-width: 200px){
              .navbar-brand-img{
                display: none;
              }
              .navbar-brand-img-mobile{
                display: none;
              }
              .navbar-brand-img-mobile-short{
                display: block;
                width: 120px;
              }
              .navbar-brand {
                margin-right: 0rem!important;
              }
              #navbar-button {
                padding: 0px!important;
              }
            }
      </style>
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent" style="background: #000 !important">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler" id="sidebar-toggle">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">
              <img src="/static/images/logo_b_no_bg.png" class="navbar-brand-img" />
              <img src="{% static 'images/logo_short_b_no_bg.png' %}" class="navbar-brand-img-mobile" />
              <img src="{% static 'images/logo_no_bg.png' %}" class="navbar-brand-img-mobile-short" />
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="search-bar input-group">
                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="fas fa-search"></i>
                  <span class="d-lg-none d-md-block">Search</span>
                </button>
              </li>
              <li class="dropdown nav-item">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="notification d-none d-lg-block d-xl-block"></div>
                  <i class="fas fa-bell"></i>
                  <p class="d-lg-none">
                    Notifications
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                  <li class="nav-link"><a href="#" class="nav-item dropdown-item">Mike John responded to your email</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a></li>
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="{% static '/images/Figure_1.png' %}" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="/page-user.html" class="nav-item dropdown-item">Profile</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link"><a href="/u/logout_user" class="nav-item dropdown-item">Log out</a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
