{% extends 'basic_layout.html' %}
{% block content %}
    <div class="main-cntent"></div><br />
    <style>
        a {
            color: #333;
            text-decoration: None;
        }
        a:hover {
            color: #000;
            text-decoration: none;
        }
    </style>
    <div class="row">
    {% for blog in blogs %}
        <div class="col-md-6 col-sm-12 col-lg-4">
    <a href="/b/{{ blog.title }}" style="text-decoration": none>
            <img style="width: 100%; margin-bottom: 10px" class="rounded" src="/static{{ blog.image.url }}" />
            <h4 style="text-align: left">{{ blog.title }}</h4>
            <p style="color: #555"><b><i class="fas fa-user-edit"></i>
                by {{ blog.author }}
                &nbsp; <i class="fas fa-clock"></i> {{ blog.date }}
                &nbsp; <i class="fas fa-star-half-alt"></i> {{ blog.ratings }}
            </b></p>
            <h6><b>{{ blog.sub_title }}</b></h6>
    </a>
        </div>
    {% endfor %}
    </div>

{% endblock %}